* {
  text-decoration: none;
  list-style: none;
  margin: 0;
}

nav {
  background-color: #494848;
  height: 4.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem;
}

nav a {
  font-size: 1.5rem;
  color: #6739b7;
}

button {
  background-color: #494848;
  border: none;
}

img {
  height: 1.5rem;
  width: 1.5rem;
}

.menu {
  display: none;
}
