* {
  text-decoration: none;
  list-style: none;
  margin: 0;
}

nav {
  background-color: #494848;
  height: 4.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem;
}

nav a {
  font-size: 1.5rem;
  color: #6739b7;
}

button {
  background-color: #494848;
  border: none;
}

img {
  height: 1.5rem;
  width: 1.5rem;
}

.menu {
  display: none;
}

main {
  background-color: #1a1a1a;
  height: 645px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  text-align: center;
}

.title h1 {
  margin-top: 2rem;
}

.title span {
  color: #6739b7;
}

.title p {
  text-align: justify;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.img-home {
  height: 16rem;
  width: 16rem;
  margin-bottom: 2rem;
}

.button {
  background-color: #6739b7;
  color: white;
  padding: 1rem 2rem;
  border-radius: 50px;
}
